*{
  box-sizing: border-box;
}

body {
  
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  margin: 0;
  background-color:aliceblue;
}

.header {
  background: url(../img/patron-lineas-abstractas-planas-lineales_23-2148939520.jpg);
  text-align: center;
  padding: 5px;
  margin: 0;
}

#textHeader{
  display:inline-block;
  
  padding: 5px;
  backdrop-filter: blur(4px);
  position: relative;
}


.topnav {
  overflow: hidden;
  background-color: rgb(97,124,176,69);
  opacity: 0.85;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(128,128,128,0.25);
  color: rgb(255,215,0,0.75);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border: 1px solid rgb(211,211,211,0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
}

.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: #9CD2D3;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgb(0,0,255,0.80);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.footer {
  background-color: #617CB0;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
}